.loader_bg {
    position: fixed;
    z-index: 999999;  /* High z-index to ensure loader is on top of other elements */
    background: rgba(255, 255, 255, 1);  /* Semi-transparent background */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Center the loader */
}

.loader img {
    width: 100px;  /* Adjust as needed */
    height: 100px;  /* Adjust as needed */
}
.loader p{
    color: rgba(169, 169, 169, 0.8);  /* Ash color, semi-transparent */

}