.header-picture {
    height: 350px;
    width: 100%;
}
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
}

#edit-button{
    color: white;
}

.editBox {
    /* display: none; */
    margin-top: 20px;
}

.editBox form {
    font-size: 12px;
    width: 300px;
    margin: 0 auto;
}

.editBox label {
    font-weight: bold;
}

.editBox input {
    margin-bottom: 10px;
}

.editBox button {
    margin-top: 10px;
}
#audioControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#audioControls button {
    padding: 10px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
}

#audioControls button:hover {
    background-color: #0056b3;
}

#volumeControl {
    width: 100px;
}
#progress-bar {
    width: 90%;
    height: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    appearance: none;
    margin: auto;
    cursor: pointer;
}


#progress-bar {
    width: 90%;
    height: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    appearance: none;
    margin: auto;
}

#progress-bar::-webkit-slider-runnable-track {
    background-color: #f3f3f3;
    border-radius: 5px;
}

#progress-bar::-webkit-slider-thumb {
    /* -webkit-appearance: none;
    appearance: none;
    width: 5px; */
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

#progress-bar::-moz-range-track {
    background-color: black;
    border-radius: 5px;
}

#progress-bar::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#progress-bar::-ms-track {
    background-color: black;
    border-radius: 5px;
}

#progress-bar::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#audio-container {
    width: 90%;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(to bottom, #f2f2f2, #d9dce0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
#details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start; /* Align items to the top */
    background-color: #282828; /* Dark gray background */
    color: #ffffff; /* White text */
    padding: 10px; /* Some padding */
    font-family: 'Arial', sans-serif; /* Clean, modern font */
    border-radius: 5px; /* Rounded corners */
}

#details-container p {
    margin: 0; /* Remove default paragraph margins */
}

#song-title {
    font-size: 1.2em; /* Make the song title larger */
    font-weight: bold; /* Make the song title bold */
}

#song-uploader, #artistes {
    font-size: 0.9em; /* Make the uploader and artistes text smaller */
    color: #b3b3b3; /* Light gray text */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start; /* Align items to the top */
}

#current-time, #duration {
    padding: 10px;
    margin-top: 15px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
}